.ReactModal__Overlay {
	opacity: 0;
	transition: opacity 250ms ease-in-out;
}

.ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModal__Overlay--before-close {
	opacity: 0;
}

.ReactModal__Body--open,
.ReactModal__Html--open {
	overflow: hidden;
}

.calendarModal {
	display: flex;
	justify-content: center;
	margin: 200px auto;
	width: 600px;
	height: 500px;
	border-radius: 20px;
	box-shadow: 0px 0px 5px grey;
	background-color: white;
}

.calendarModal > .calendarForm {
	flex-direction: column;
}

.calendarForm button:disabled {
	background-color: rgba(0, 0, 0, 0.3);
}

.calendarForm button {
	border: none;
	background-color: plum;
	color: white;
	border-radius: 5px;
	margin-left: 200px;
	margin-top: 50px;
	padding: 10px;
	font-size: 1.25rem;
}

.calendarForm label {
	display: flex;
	margin-bottom: 10px;
}

.calendarForm h4 {
	margin: 0 10px;
}

.calendarForm .scheduleTitle {
	width: 408px;
}

.calendarFormTitle {
	margin-bottom: 100px;
	margin-top: 50px;
}

.fc-event-title-container {
	background-color: rgb(178, 96, 255);
}

.fc-daygrid-block-event {
	border: 1px solid rgb(167, 74, 255);
}
