.ReactModal__Overlay {
	opacity: 0;
	transition: opacity 250ms ease-in-out;
}

.ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModal__Overlay--before-close {
	opacity: 0;
}

.ReactModal__Body--open,
.ReactModal__Html--open {
	overflow: hidden;
}

.ReactModal__Content {
	margin: auto auto;
	width: 800px;
	height: 600px;
}

.ReactModal__Content > .calendarForm {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.calendarForm button:disabled {
	background-color: rgba(0, 0, 0, 0.3);
}

.calendarForm label {
	display: flex;
	margin-bottom: 10px;
}

.calendarForm h4 {
	margin: 0 10px;
}
