.fc {
	width: 500px;
}

.fc-toolbar-title,
.fc-col-header-cell-cushion,
.fc-daygrid-day-number {
	user-select: none;
}

.fc .fc-button-primary {
	color: #fff;
	color: var(--fc-button-text-color, #fff);
	background-color: plum;
	background-color: var(--fc-button-bg-color, plum);
	border-color: plum;
	border-color: var(--fc-button-border-color, plum);
}

.fc .fc-button-primary:hover {
	color: #fff;
	color: var(--fc-button-text-color, #fff);
	background-color: plum;
	background-color: var(--fc-button-hover-bg-color, plum);
	border-color: plum;
	border-color: var(--fc-button-hover-border-color, plum);
}

.fc .fc-button-primary:disabled {
	color: #fff;
	color: var(--fc-button-text-color, #fff);
	background-color: plum;
	background-color: var(--fc-button-bg-color, plum);
	border-color: white;
	border-color: var(--fc-button-border-color, white);
}

.fc-today-button.fc-button.fc-button-primary {
	border: none;
}

.fc-day:hover {
	background: #eef7ff;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.fc-daygrid-event-dot {
	--fc-event-border-color: rgb(178, 96, 255);
}

.fc-event-title-container {
	background-color: rgb(178, 96, 255);
}

.fc-daygrid-block-event {
	border: 1px solid rgb(167, 74, 255);
}

.fc .fc-button:focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem plum;
}

.fc .fc-button-primary:focus {
	box-shadow: 0 0 0 0.2rem plum;
}

.fc-prev-button.fc-button.fc-button-primary {
	background-color: plum;
}

.fc .fc-button-primary:not(:disabled):active:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus {
	box-shadow: 0 0 0 0.2rem plum;
}

.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled).fc-button-active {
	color: #fff;
	color: var(--fc-button-text-color, #fff);
	background-color: plum;
	background-color: var(--fc-button-active-bg-color, plum);
	border-color: plum;
	border-color: var(--fc-button-active-border-color, plum);
}

.fc .fc-button-primary:not(:disabled):active:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus {
	box-shadow: 0 0 0 0.2rem plum;
}

.fc-prev-button.fc-button.fc-button-primary:active {
	background-color: plum;
}

.fc-next-button.fc-button.fc-button-primary:active {
	background-color: plum;
}

.fc-next-button.fc-button.fc-button-primary:focus {
}

.fc-event-time {
	display: none;
}

.fc-col-header-cell {
	background-color: plum;
}

.fc-col-header-cell:hover {
	background-color: plum;
}

.fc-col-header-cell-cushion:hover {
	cursor: default;
}
