main {
	min-height: 100%;
	height: auto;
	position: relative;
	padding-bottom: 5rem;
	/* padding-bottom: 200px; */

	margin-top: 6rem;
	margin-left: 23%;
	margin-right: 23%;
}

body {
	margin-top: 8rem;
	margin-left: 23%;
	margin-right: 23%;
}

.mainH3 {
	text-align: center;
}

.each-slide > div {
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	height: 300px;
}

.each-slide span {
	padding: 20px;
	font-size: 20px;
	background: #efefef;
	text-align: center;
}

.each-fade {
	display: flex;
}

.each-fade .image-container {
	width: 75%;
	overflow: hidden;
}

.each-fade .image-container img {
	width: 100%;
}

.each-fade h2 {
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	background: #adceed;
}

.mainTeamStyle {
	/* display: flex; */
	/* flex-wrap: wrap; */
	/* flex-direction: row; */
	/* align-content: center; */
	list-style: none;
	padding: 0;

	display: grid;
	grid: auto / repeat(auto-fit, minmax(500px, auto));
	justify-content: center;
}

#teamSearchBox {
	overflow: auto;
	width: 700px;
	height: 500px;
}

#teamSearchBox::-webkit-scrollbar {
	width: 10px;
}
#teamSearchBox::-webkit-scrollbar-thumb {
	background-color: rgba(128, 0, 128, 0.213);
	border-radius: 10px;
}
#teamSearchBox::-webkit-scrollbar-track {
	background-color: whitesmoke;
	border-radius: 10px;
}

.mainArticle {
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
	/* justify-content: center; */
	align-items: center;
}

.mainMoreBtn {
	background-color: transparent;
	border: none;
	color: black;
}

.carousel-img {
	height: 350px;
	width: 100%;
}
