.teamMemberStyle {
  border: 1px solid #b2b3b7;
  display: flex;
  width: 500px;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  margin: auto;
}

.teamSettingBtnStyle {
  background-color: transparent;
  border: none;
}

.userIconStyle {
  border-radius: 50%;
  width: 35px;
}

.teamMemberMargin {
  margin-top: 5%;
}
