.plusTeam {
    margin-top: 50px;
    border: 3px solid #F3F1F1;   
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 1px;
    width: 600px;
    box-shadow: 5px 5px 10px -5px rgb(205, 205, 205);
}

ul, li {
    list-style: none;
}

#new {
    width: 410px;
    background: rgba(128, 0, 128, 0.213);
    border-radius: 5px;
    border: none;
    color: black;
    height: 40px;

}

.gameSelect {
    
    margin: 5px;
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 5px;
  }

.gameSelect:hover {
    background: rgba(128, 0, 128, 0.213);
}

input[type='number']{
    width: 330px;
} 

li {
    margin-bottom: 10px;
}

p {
    display: block;
    background-color: bisque;
    width: 100px;
    height: 100px;
    vertical-align: text-bottom;
}