.notiab{
    display: flex;
    align-items: flex-end;
}

.notiCon {
    padding-right: 50px;
    display: flex;
    position: absolute;
    right: 400px;
    align-items: flex-end;
    width: 270px;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
}

