.notiab{
    display: flex;
    align-items: flex-end;
}

.notiCon {
    margin-top: 5px;
    display: flex;
    position: absolute;
    right: 100px;
    align-items: flex-end;
    max-width: 300px;
    flex-direction: column;
    justify-content: flex-end;
}

